@import "vendor/reset";

* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.7vw;
}


/* Blocks */
@import "blocks/container";
@import "blocks/button";
@import "blocks/countdown";
@import "blocks/form";
@import "blocks/header";
@import "blocks/promo";
@import "blocks/effect";
@import "blocks/history";
@import "blocks/expert";
@import "blocks/product-action";
@import "blocks/order";
@import "blocks/components";


