.product-action {
	padding-left: 2em;
	padding-right: 2em;
	@media(max-width: 570px) {
		padding-top: 2em;
	}
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 6.375em;
		@media(max-width: 570px) {
			flex-direction: column;
			height: auto;
		}
	}

	&__top-description {
		margin-right: 2em;
		font-weight: 600;
		line-height: 1.2em;
		text-align: center;
		color: #000000;
		@media(max-width: 570px) {
			order: 2;
			font-size: 2em;
			margin-right: 0;
			padding: 0 2em;
			margin-top: 1em;
		}
	}

	&__image {
		width: 10%;
		@media(max-width: 570px) {
			width: 30%;
		}
	}

	&__wrap {
		background: #420707;
		border-radius: 0.625em;
		padding: 1.67em 1.25em;
		color: #FFFFFF;

		@media(max-width: 570px) {
			margin-top: 6em;
		}
	}

	&__wrapper {
		border: 2px solid #FFFFFF;
		border-radius: 0.625em;
		padding: 1.54em 0.667em;
		background: url(../images/img/product-action.png);
		background-position: center;
		background-size: 70% 100%;
		background-repeat: no-repeat;

		@media(max-width: 570px) {
			background: url(../images/img/product-action-adaptive.png);
			background-position: center;
			background-position-y: 16em;
			background-repeat: no-repeat;
			height: 65em;
			background-size: 90% 70%;
		}
	}

	&__title {
		font-style: normal;
		font-weight: bold;
		font-size: 1.5em;
		line-height: 1.2em;
		text-align: center;
		max-width: 21.58em;
		margin: 0 auto 0.625em;
		@media(max-width: 570px) {
			font-size: 2em;
			margin-bottom: 3em;
			font-weight: normal;
			max-width: 15em;
		}
		span {
			font-weight: 800;
			@media(max-width: 570px) {
				font-weight: 600;
			}
		}
	}

	&__advantages-wrap {
		display: flex;
		justify-content: space-between;
		@media(max-width: 570px) {
			flex-direction: column;
			height: 100%;
			justify-content: space-between;
		}
	}

	&__advantages {
		max-width: 10.75em;
		margin-top: 1.13em;
		@media(max-width: 570px) {
			display: flex;
			margin-top: 0;
			justify-content: space-around;
			max-width: 100%;

		}
		&:nth-child(2) {
			margin-top: 2em;
			@media(max-width: 570px) {
				margin-top: 0;
				height: 18em;
			}
		}
	}

	&__advantages-item {
		font-style: normal;
		font-weight: 600;
		font-size: 1em;
		line-height: 1.2em;
		max-width: 11.08em;
		margin-bottom: 4em;

		&_left {
			&:nth-child(1) {
				margin-left: 5em;
				@media(max-width: 570px) {
					margin-top: 3em;
				}
			}
			&:nth-child(2) {
				margin-bottom: 3em;
			}
			&:nth-child(3) {
				margin-left: 7em;
				@media(max-width: 570px) {
					margin-top: 3em;
				}
			}
		}

		&_right {
			&:nth-child(1) {
				margin-left: -2.5em;
				@media(max-width: 570px) {
					margin-top: -4em;
				}
			}
			
			&:nth-child(2) {
				order: 3;
				@media(max-width: 570px) {
					margin-top: -4em;
				}
			}
			&:nth-child(3) {
				margin-left: -3.1em;
				@media(max-width: 570px) {
					text-align: center;
					margin-top: -1.5em;
					order: 2;
				}
			}
		}

		@media(max-width: 570px) {
			margin-left: 0 !important;
			margin-right: 0 !important;
			font-size: 1.8em;
			font-weight: normal;
			max-width: 8em;
		}

	}
}
