<section class="components">
	<div class="components__heading">
		<img src="assets/images/img/tablets.png" alt="пилюля" class="components__image-tablet">
		<p class="components__main-description">Каждая таблетка – это мощный комплекс <span>100%</span> натуральных компонентов.</p>
	</div>
	<div class="components__content">
		<div class="components__wrap">
			<h3 class="components__title-component">Корень женьшеня обыкновенного</h3>
			<p class="components__description">Повышает половое влечение, восполняет дефицит витаминов. Увеличивает синтез тестостерона, 
				усиливает приток крови к члену, что обеспечивает стойкую и продолжительную эрекцию.</p>
			<img src="assets/images/bg/zhen-shen.png" alt="компонент" class="components__bg-component">
		</div>
		<div class="components__wrap">
			<h3 class="components__title-component">Экстракт коры муира пуама</h3>
			<p class="components__description">Улучшает качество спермы и подвижность сперматозоидов. 
				Поддерживают необходимый уровень тестостерона.</p>
			<img src="assets/images/bg/raw-muira-puama.png" alt="компонент" class="components__bg-component">
		</div>
		<div class="components__wrap">
			<h3 class="components__title-component">Корень эврикомы длиннолистной</h3>
			<p class="components__description">Сильный афродизиак, повышает сексуальное влечение и положительно влияет на качество полового акта. 
				Улучшает выносливость и физическую активность.</p>
			<img src="assets/images/bg/anwendung-Heilkraft.png" alt="компонент" class="components__bg-component">
		</div>
		<div class="components__wrap">
			<h3 class="components__title-component">Ягоды асаи</h3>
			<p class="components__description">Растительный аналог «Виагры»: способствует стойкой эрекции, усиливает сексуальное возбуждение 
				и пролонгирует ощущения во время оргазма.</p>
			<img src="assets/images/bg/acai-berry.png" alt="компонент" class="components__bg-component">
		</div>
	</div>
</section>