<section class="effect">
	<div class="effect__bg"></div>
	<h2 class="effect__title">Получите такое&nbsp;же удовольствие в&nbsp;постели, как султан от&nbsp;своего гарема!</h2>
	<div class="effect__content">
		<div class="effect__description">
			<p class="effect__description-text">Какие ассоциации возникают при упоминании гарема? Красивые девушки, сидящие на&nbsp;софах. 
				Сауны, где наложницы натирают себя ароматическими смесями. Битва, в&nbsp;которой сотни красавиц сражаются за&nbsp;внимание повелителя. 
			</p>
			<p class="effect__description-text">Такие&nbsp;же ощущения вы&nbsp;испытаете после приема <span>Силы Султана!</span></p>
		</div>
		<div class="effect__images">
			<img src="assets/images/img/effect-image.jpg" alt="Великолепный век картинка" class="effect__image">
			<img src="assets/images/img/effect-image-adaptive.jpg" alt="Великолепный век картинка" class="effect__image-adaptive"> 
		</div>
	</div>
</section> 