<section class="expert ">
	<div class="expert__content">
		<div class="expert__description">
			<p class="expert__description-text"> <span>Сила Султана</span>  решает проблему комплексно, 
				а&nbsp;не&nbsp;просто временно устраняет синдромы
			</p>
			<p class="expert__description-text">Рекомендован врачами для лечения, профилактики и&nbsp;получения новых ощущений
				Никаких побочных эффектов и&nbsp;негативного воздействия на&nbsp;организм.</p>
		</div>
		<div class="expert__images">
			
		</div>
	</div>
</section> 