<section class="expert expert_revert">
	<div class="expert__content">
		<div class="expert__description">
			<p class="expert__description-text">Наши врачи несколько лет работали в&nbsp;Турции, собирая секретные ингредиенты древнетурецких средств для повышения потенции.
				Мы&nbsp;запатентовали <span>Силу Султана</span>, получили официальное право производить и&nbsp;реализовывать 
				препарат по&nbsp;России и&nbsp;в&nbsp;странах СНГ. Все подтверждающие документы и&nbsp;лицензии 
				в&nbsp;электронном виде расположены на&nbsp;странице нашего сайта.</p>
		</div>
		<div class="expert__images">
		</div>
	</div>
</section> 