<form action="#" class="form">
	<h3 class="form__title">Успей получить <span>Силу Султана бесплатно*</span>, пока действует акция</h3>
	<div class="form__sale">
		<p class="form__sale-end">Акция* закончится через</p>
		{{> countdown}}
	</div>
	<div class="form__wrap">
		<label class="form__label">
			Ваше имя*
			<input type="text" class="form__input">
		</label>
	</div>
	<div class="form__wrap">
		<label class="form__label">
			Контактный телефон*
			<input type="tel" class="form__input" placeholder="+ (7)">
		</label>
	</div>
	<button class="form__button button">
		Заказать препарат *бесплатно
	</button>
	<p class="form__condition">
		<span class="form__condition-descriptin">*при заказе курса</span>
		Осталось всего 23 бесплатных упаковок
	</p>
</form>