<section class="history">
	<div class="history__wrap">
		<h2 class="history__title">Как на Востоке справлялись <span>с многоженством?</span></h2>
		<div class="history__wrapper">
			<div class="history__block history__block_bg-1">
				<h3 class="history__title-block">Сексуальные обряды</h3>
			</div>
			<div class="history__block history__block_bg-2">
				<h3 class="history__title-block">Натуральные стимуляторы <span>сексуальной активности</span></h3>
			</div>
			<div class="history__block history__block_bg-3">
				<h3 class="history__title-block">Интимная гимнастика</h3>
			</div>
		</div>
	</div>
</section>