<section class="order">
	<div class="order__bg-flower"></div>
	<img src="assets/images/img/red-poligon.png" class="order__bg" alt="">
	<img src="assets/images/img/red-poligon-adaptive.png" class="order__bg_adaptive" alt="">
	<div class="order__wrap">
		<div class="order__heading">
			<h2 class="order__title">Хочешь почувствовать себя настоящим султаном в постели?</h2>
			<img src="assets/images/img/product.png" alt="упаковка с таблетками" class="order__image">
		</div>
		<div class="order__form">
			{{> form}}
		</div>
	</div>
</section>