<section class="product-action">
	<div class="product-action__top">
		<p class="product-action__top-description">Сила Султана разработана на&nbsp;основе древнетурецких рецептов, 
			которые описаны еще в&nbsp;старинных преданиях летописцев-монахов. 
			Вы&nbsp;почувствуете себя настоящим повелителем!</p>
		<img src="assets/images/img/product.png" alt="" class="product-action__image">
	</div>
	<div class="product-action__wrap">
		<div class="product-action__wrapper">
			<h2 class="product-action__title">Как <span>Сила Султана</span> борется с проблемой?</h2>
			<div class="product-action__advantages-wrap">
				<div class="product-action__advantages">
					<p class="product-action__advantages-item product-action__advantages-item_left">Стимулирует естественную выработку тестостерона</p>
					<p class="product-action__advantages-item product-action__advantages-item_left">Обеспечивает стойкую и твердую эрекцию</p>
					<p class="product-action__advantages-item product-action__advantages-item_left">Пробуждает сильное сексуальное желание </p>
				</div>
				<div class="product-action__advantages">
					<p class="product-action__advantages-item product-action__advantages-item_right">Повышает<br>либидо и решительность</p>
					<p class="product-action__advantages-item product-action__advantages-item_right">Усиливает ощущения</p>
					<p class="product-action__advantages-item product-action__advantages-item_right">Увеличение продолжительности полового акта</p>
				</div>
			</div>
		</div>
	</div>
</section>