<section class="promo">
	<div class="container">
		<h1 class="promo__title">Открой новые возможности и&nbsp;<span class="promo__title_color">пробуди</span> неизведанные <span class="promo__title_color">ощущения</span></h1>
		<p class="promo__main-description">Секрет турецких правителей доступен и&nbsp;в&nbsp;наши дни</p>
		<div class="promo__main-content">
			<div class="promo__wrap">
				<p class="promo__description-product">Юношеская активность<br>в&nbsp;постели</p>
				<p class="promo__description-product">Устойчивая<br>эрекция</p>
				<p class="promo__description-product">Увеличение продолжительности полового акта</p>
				<p class="promo__description-product">Яркие<br>оргазмы</p>
			</div>

			<div class="promo__form-wrap">
				{{> form}}
			</div>
		</div>
		{{> form}}
	</div>
</section>